.container {
	margin: 0 auto;
	width: 80%;
	max-width: 960px;
}

* {
  color: #1f2124;
  background-color: #1dbb51;
}

h1, h2 {
  color: #1dbb51;
}

nav ul {
	margin: 0;
	padding-left: 0;
	list-style-type: none;
	display: flex;
	justify-content: center;
}

nav a { 
	display: block;
	padding: 5px 10px;
	text-decoration: none;
	font-size: 30px;
}

nav .is-current {
  background-color: #1f2124;
  color: #aaaaaa;
}
